.task{
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
  cursor: pointer;
  display: flex;
  margin-bottom: 8px;
 padding: 0.3em;
  min-height: 20px;
  flex-direction: column;
}

.labels{
  height: 3vh;
  background-color: rgb(30, 101, 163);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 0.2em;
}

.labels span{
  color: white;
  font-size: 10px ;
}

.labelWrapper{
  display: flex;
  justify-content: center;
  max-width: inherit;
}

.circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.image{
  width: 13vw;
}

.status_icon:hover{
  transform: scale(1.5);
}