.linkedTask{
  min-width: 4vw;
  height: 3vh;
  background-color: rgb(30, 101, 163);
  display: flex;
  justify-content: center;
  border-radius: 1em;
  text-align: center;
}

.linkedTask span{
  color: white;
}

.linkChoose{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.saveLinks{
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 height: 100%;
}

.saveLinks button{
  margin-top: 0.5em;
}

.choosed{
  border: 0.3em solid green ;
}