.list{
  display: flex;
  flex-direction: column;
  background-color: #ebecf0;
  min-width: 20vw;
  margin-right: 1em;
  padding: 0.2em;
  max-height: 100vh;
}

.list span{
  color: black;
}

.listTitle{
  font-size: 15px;
  margin-bottom: 1em;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.footer svg{
  color: black;
}
.footer span{
  margin-left: 0.5em;
  font-size: 15px;
}