.taskWrapper{
  display: flex;
  
  flex-direction: column;
}

.title input{
  background-color: transparent;
  border:none
}

.title input:focus{
  background-color: white;
}

.description textarea{
  background-color: transparent;
  border: none;
}

.description textarea:focus{
  background-color: white;
}

.column{
  display: flex;
  flex-direction: column;
}


.newLabel{
  display: flex;
  justify-content: center;
}