
.container {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header{
  background-color: #026aa7;
  height: 5vh;
}

.centralized{
  display: flex;
  justify-content: space-evenly;
}

.slogan{
margin-bottom: 2vh;
}

.content{
  padding: 1em;
  display: flex;
}

.icon{
  font-size: 0.5em;
}

.overflow{
  overflow-y: auto;
}